p {
    color: blue;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: red;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

li { 
    color: red;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}