* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
}

li{
    list-style: none;
    margin: 10px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
    margin: 10px;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: #B0926A;
    padding: 15px;
}

.jumbotron{
    color: white;
    height: 600px;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}


.orange { 
    color:#FF9130;
}


.dropdown-content{
    display: none;
    position: absolute;
    background-color: bisque;
    margin-top: 10px;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content li:hover{
    color: #FF9130;
    background-color: #FFD099;
    cursor: pointer;
}

.dropdown-content li{
    padding: 10px;
    margin: 0px;
}



.form-data{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
}

input{
    padding: 10px;
    margin: 10px;
}